---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import GameHouseHogwarts from "../../components/games/GameHouseHogwarts.astro";
---

<Layout
  title="Juegos - El Pensadero"
  description="Juegos y preguntas sobre el universo de Harry Potter"
  url="/juegos"
  background={false}
  ><main class="">
    <GameHouseHogwarts />
  </main>

  <Footer />
</Layout>
