@import "@fontsource/cinzel-decorative/400.css";
@import "@fontsource/cormorant-garamond";
@import "@fontsource/spectral";

#tsparticles {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1 !important;
    pointer-events: none;
  }
  
