---
const { title, slug, blank = null, aria="" } = Astro.props;
---

<div class="justify-center w-full flex">
  <a
    rel={`prefetch${blank ? " noopener noreferrer" : ""}`}
    aria-label={aria}
    href={slug}
    class="text-white border-slate-600 rounded-xl p-5 border text-2xl font-medium mt-10 hover:border-[#928952] transition-all"
    target={blank}>{title}</a
  >
</div>
