---
import ParticulasMagicas from "./ParticulasMagicas.jsx";
---

<main class="relative h-[100vh] flex flex-col items-center justify-center ">
    <h1 class="font-cinzel font-semibold text-9xl text-center text-[#928952] drop-shadow-[0_2px_10px_rgba(0,0,0,0.4)]">
      EL PENSADERO
      <span class="font-cormorant font-extralight block text-3xl mt-5 text-gray-400">
        Todo sobre el universo de HARRY POTTER
      </span>
    </h1>
  </main>


