---

---

<main
  class="relative h-[calc(100vh-100px)] xl:min-h-screen w-full flex flex-col items-center justify-center"
  aria-labelledby="El Pensadero - la pagina donde encontraras todo sobre el universo de Harry Potter, noticias juegos y videos"
  id="home"
>
  <h1
    class="opacity-0 animate-fadeIn font-cinzel font-semibold text-5xl xl:text-9xl text-center text-[#928952] drop-shadow-[0_2px_10px_rgba(0,0,0,0.4)]"
  >
    EL PENSADERO
    <span
      class="font-cormorant font-extralight block text-lg xl:text-3xl mt-5 text-gray-400"
    >
      Un portal al mundo de HARRY POTTER y sus secretos y teorias
    </span>
  </h1>

  <!-- Flecha para scroll -->
  <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 z-20">
    <a href="#blog" class="text-xl text-white">
      <div class="flex justify-center items-center">
        <!-- Flecha mágica -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-8 h-8 animate-bounce sm:w-10 sm:h-10 lg:w-12 lg:h-12"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </div>
    </a>
  </div>
</main>
