<div class="h-full flex flex-col items-center justify-center">
    <h1 class="font-cinzel font-semibold text-7xl text-center">EL PENSADERO <span class="font-cormorant block text-xl">Todo sobre el universode HARRY POTTER</span></h1>
</div>