---
import NavBar from "../components/NavBar.astro";
import ParticulasMagicas from "../components/ParticulasMagicas.jsx";

import "../style/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>El Pensadero</title>
	</head>
	<body class="font-spectral overflow-x-hidden min-h-screen relative ">
		<div class="absolute inset-0 z-10  ">
			<ParticulasMagicas client:visible />
		</div>
		

		<div class="relative h-fit w-full bg-slate-950 "> 
			<!-- ESTE DIV ES EL CIRCULO DEL BORDE IZQUIERDO -->
			 <div class=" absolute  bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div>
			<!-- ESTE DIV ES EL CIRCULO DEL BORDE DERECHO -->
			 <div class="absolute bottom-0 right-[-20%] top-[10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div> 
			<NavBar />
			<slot />
		</div> 
	</body>

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
			color: gray;
		}
	</style>
</html>
